.categoryFilter {
  display: flex;
  align-items: center;
}
.categoryFilter,
label {
  margin-right: 10px;
  margin-left: 5px;
}

.categoryFilter_legend {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
}
.categoryFilter_box {
  margin: 20px;
  padding: 10px;
  min-width: 600px;
}
