* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(212, 203, 203, 0.794);
}

label {
  display: block;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.base-input {
  border-radius: 5px;
  border: 1px gray solid;
  min-height: 35px;
  margin-top: 6px;
  width: 600px;
  padding: 10px;
}

.save-btn {
  width: 200px;
  height: 25px;
  border-radius: 5px;

  background-color: lightsalmon;
}
.cancel-btn {
  width: 100px;
  height: 25px;
  border-radius: 5px;
}
form {
  display: flex;
  flex-direction: column;
}

.action-area {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.back-home-btn {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
}
